#empty {
    display: block;
    margin: 50px auto 20px;
    text-align: center;
    border: 2px solid var(--accent1);
    padding: 20px 0;
    border-width: 2px 0 2px 0;
}

#notReservedWarning {
    font-style: italic;
    display: block;
    text-align: center;
    margin-bottom: 15px;
}

#basketSpinner {
    border: 5px solid transparent;
    border-top-color: var(--accent1);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    &.hide {
        animation-play-state: paused;
    }
}

@keyframes spin {
    from {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    to {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

#basketContainer {
    max-width: 1000px;
    min-height: 100px;
    margin: 0 auto;
    position: relative;

    #basket {
        .basketWrapper {
            border-bottom: 2px solid var(--accent1);
            position: relative;
            padding: 20px;

            &:nth-child(2) {
                border-top: 2px solid var(--accent1);
            }

            a {
                font-size: 20px;
                display: block;
                color: var(--foreground);
            }

            .price {
                margin: 20px 20px 0 20px;
                display: inline-block;
            }

            .removeButton {
                position: absolute;
                right: 20px;
                top: 50%;
                transform: translateY(-50%);
            }
        }
    }

    #total {
        text-align: right;

        #totalPrice,
        #checkout,
        #subtotal {
            display: inline-block;
            margin: 20px;
        }

        #checkout {
            font-size: 20px;
        }

        #subtotal:before {
            content: "Subtotal: ";
        }

        #totalPrice:before {
            content: "Total: ";
        }

        .input-container {
            margin: 10px 20px 10px 0;
            display: inline-block;
            width: 300px;

            input {
                text-align: right;
            }

            label {
                left: auto;
                right: 0;
            }
        }

        #addDiscount {
            font-size: 36px;
            line-height: 16px;
            padding: 10px 5px 12px 5px;
            position: relative;
            top: 5px;
            margin-right: 20px;
        }

        #discounts {
            display: none;
            margin-right: 20px;

            &:has(.discount) {
                display: block;

                &::before {
                    content: "Discounts Applied: ";
                }
            }

            .discount {
                background-color: var(--accentLight);
                padding: 10px;
                margin: 10px 0 10px 10px;
                display: inline-block;
                box-shadow: 0px 0px 20px -15px #448;
                position: relative;
                cursor: pointer;

                &::before {
                    content: "x";
                    font-size: 22px;
                    margin-right: 10px;
                    cursor: pointer;
                    position: absolute;
                    left: 0;
                    top: 0;
                    height: 100%;
                    line-height: 36px;
                    padding: 0 10px;
                    border-right: 2px solid var(--accent1);
                    display: none;
                }

                &:hover {
                    padding: 10px 10px 10px 40px;

                    &::before {
                        display: block;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 875px) {
    .name {
        grid-area: name;
    }
    .basketWrapper {
        grid-template-areas: "name name name name" "date date date price" "button button button button";
        grid-template-columns: 1fr 1fr 1fr 1fr !important;
        grid-gap: 20px;
        display: grid;
        text-align: center;
        align-items: end;
    }
    .date {
        grid-area: date;
        text-align: left !important;
    }
    .price {
        grid-area: price;
        text-align: right !important;
    }
    .removeButton {
        grid-area: button;
        position: static !important;
        transform: none !important;
        margin: 0 auto;
    }
}

#checkoutContainer,
#paymentComplete {
    position: fixed;
    top: 80px;
    left: 0;
    height: calc(100vh - 80px);
    overflow-y: auto;
    width: 100vw;
    padding: 20px;
    z-index: 200;
    text-align: center;
    background-color: var(--background);
    box-shadow: 0 0 50px -30px #448;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto;
    align-content: center;
    text-align: center;

    h3 {
        text-align: center;
    }

    #cancelCheckout,
    #home {
        margin: 0 auto;
        display: block;
    }
}

#checkoutContainer {
    #checkoutTotal {
        font-weight: bold;
        font-size: 1.2em;
    }

    span {
        display: block;
        margin: 10px auto;
    }

    #paypal {
        margin: 20px auto;
        max-width: 400px;
        width: 100%;
    }
}

#termsAndConditions + label {
    margin: 0 20px 0 10px;
}
