doctype html
html
    head
        include common/head.pug
        +head(title)
        link(rel="stylesheet", href="/css/login.css")
    body
        include common/body.pug
        +body(true)
        h1 Forgot Password
        form(action="#", onsubmit="formSubmit(this); return false")
            .input-container
                input(type="text", name="email", value="", placeholder=" ", required)#email
                label(for="email").label Email
                .underline
            .buttonWrapper
                button Submit
        p.hide#success You have been emailed a temporary password. Use this to 
            a(href="/login") log in
            span  and then change your password in the account page.
        +footer()
        script(src="/js/forgotPassword.js")
