doctype html
html
    head
        include common/head.pug
        +head(title)
    body
        include common/body.pug
        +body(true, user)
        h1 Terms and Conditions
        p In these terms & conditions:- "BCPCT" means Andrew Rayton Trading as Best CPC Training.
        p "Customer" means the person who accepts a quotation from BCPCT for the supply of training and/or assessment services.
        p Terms of Reschedule: If you would like to cancel or reschedule a booked course then at least 12-hours' notice must be given in writing by the customer to BCPCT before the course start time, if there is less than 12-hours' notice then a refund will not be possible. Bundle Discount- If you have completed 1 or more of the courses out of 5, and need a refund, no discount will be applied to the courses you have already attended. Regular Terms of Reschedule above apply.
        p To take part in online DCPC Modules, you must not partake in any activity that could be considered a distraction. DVSA rules expressly prohibit driving, travelling, laying down or work, they are not permitted. it is at the trainer's discretion what else may be deemed a distraction. If removal from the class is necessary, warnings will be given prior to removal to allow remedy, but if removed no refund will be issued.
        p BCPCT reserves the right to cancel a course within a reasonable amount of time, if BCPCT cancels a course, the customer can choose a full refund or a chance to reschedule for another date. If necessary, the date or times may change due to circumstances out of our control. We will try our best to not change or cancel courses, but courses with less than 3 drivers booked may be subject to such cancellation.
        p BCPCT will upload your CPC hours and send you a certificate of attendance by the next working day. It may take up to 5 working days to show on the DVSA system. You are responsible for making sure your upload is valid by ensuring that your driving license details are correct and that you are within the 5-year period for your periodic training to be valid.
        p Please join the ZOOM meeting 10 minutes before the start time to help avoid any technical difficulties you may have. You will be in a virtual waiting room after you joined the meeting. The trainer will allow you to join the meeting a few minutes before it starts.
        p Full payment must be made in advance to secure your place on the course, this is usually at the time of booking, however you can make a payment through our website using a credit/debit card or via your PayPal account. Alternatively, we can send you an invoice for a bank transfer.
        p At the start of every course, you must provide a photo ID to confirm your identity to the trainer, you can use your driving licence, DQC or Passport, if you do not have any of the above, then you will not be able to sit the CPC course. It is your responsibility to ensure that the correct driver's licence has been confirmed with the trainer.
        p If you lose internet connection throughout the course, please try and join back in as soon as possible. If you have not missed more than 15 minutes of the course then you can make up the time at the end, if more than 15 minutes have passed then you may not get your upload. If we suffer internet connection issues, then we do have alternative devices and a second internet connection to avoid having to reschedule the course.
        p You must ensure before joining the course that you have a suitable device with a working camera and microphone that meet ZOOM-supported devices, you can find out more at <a href="https://support.zoom.us/hc/en-us/articles/201362023-Zoom-system-requirements-Windows-macOS-Linux">https://support.zoom.us/hc/en-us/articles/201362023-Zoom-system-requirements-Windows-macOS-Linux</a>. A stable internet connection and continuous power for the device are also recommended.
        p All Driver CPC Courses offered by BCPCT are provided by the National Logistics Training Consortium and meet the requirements of the Joint Approval Unit For Periodic Training (JAUPT) and the Driver & Vehicle Standards Agency (DVSA) but BCPCT does not accept liability for anything that happens as a result of advice given in the courses.
        +footer()
