mixin head(title)
    - var title = (title ? title + " - " : "") + "Best CPC Training"
    title= title
    link(rel="stylesheet", href="/css/base.css")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    //shared js, css, favicon etc goes here
    link(rel="stylesheet", type="text/css", href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css")
    script(type="text/javascript", src="https://cdn.jsdelivr.net/npm/toastify-js")
    link(rel="icon", type="image/png", href="/assets/favicon-48x48.png", sizes="48x48")
    link(rel="icon", type="image/svg+xml", href="/assets/favicon.svg")
    link(rel="shortcut icon", href="/assets/favicon.ico")
    link(rel="apple-touch-icon", sizes="180x180", href="/assets/apple-touch-icon.png")
    meta(name="apple-mobile-web-app-title", content="Best CPC")
    link(rel="manifest", href="/assets/site.webmanifest")
