mixin head(title)
    - var title = (title ? title + " - " : "") + "Best CPC Training"
    title= title
    link(rel="stylesheet", href="/css/base.css")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    //shared js, css, favicon etc goes here
    link(rel="stylesheet", type="text/css", href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css")
    script(type="text/javascript", src="https://cdn.jsdelivr.net/npm/toastify-js")
    link(rel="icon", type="image/png", href="/assets/favicon-48x48.png", sizes="48x48")
    link(rel="icon", type="image/svg+xml", href="/assets/favicon.svg")
    link(rel="shortcut icon", href="/assets/favicon.ico")
    link(rel="apple-touch-icon", sizes="180x180", href="/assets/apple-touch-icon.png")
    meta(name="apple-mobile-web-app-title", content="Best CPC")
    link(rel="manifest", href="/assets/site.webmanifest")
    link(rel="canonical", href="https://bestcpctraining.co.uk")
    meta(charset="utf-8")
    meta(name="description", content="Online CPC training for UK drivers, delivered by a trainer with over 20 years experience.")
    meta(name="keywords", content="online cpc periodic training, online driver cpc, online driver cpc training, enterprise transport training, driver hire cpc training, voyager transport cpc training, national compliance cpc training, driver cpc, online driver cpc courses, hgv driver cpc courses, pcv cpc courses, psv cpc courses, lgv cpc courses, best cpc training, driver cpc online, online driver cpc courses, 35 hours cpc training online, driver cpc courses, drivers cpc, cpc driver training, driver cpc training online, driver cpc courses online, driver cpc training, online cpc training scotland, online cpc courses scotland, cpc courses for hgv drivers, best cpc online course, cpc online course weekend, driver cpc online courses uk")
    meta(name="author", content="Andrew Rayton")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    meta(name="robots", content="follow,index")
    meta(property="og:title", content="Best CPC Training")
    meta(property="og:site_name", content="Best CPC Training")
    meta(property="og:type", content="website")
    meta(property="og:url", content="https://bestcpctraining.co.uk/")
    meta(property="og:image", content="https://bestcpctraining.co.uk/assets/images/logo.png")
    meta(property="og:image:alt", content="Best CPC Training Logo")
    meta(property="og:description", content="Online CPC training for UK drivers, delivered by a trainer with over 20 years experience.")
    meta(property="og:locale", content="en_GB")
    script(type="application/ld+json")
        {
            "@context" : "https://schema.org",
            "@type" : "WebSite",
            "name" : "Best CPC Training",
            "url" : "https://bestcpctraining.co.uk/"
        }
